html{
    background-color: black;
}

.family{
    font-family: "Libre Baskerville", serif;
}

html{
    color: white;
}

img{
    border: 5px solid white;
    text-align: center;
}

h1{
    text-align: center;
    text-transform: capitalize;
}

.box{
    margin-left: 25%;
    width: 100%;
    text-align: center;
}

p{
    text-align: center;
}